<div class="container shadow p-5 rounded">
    <!-- ResetPass -->
    <p class="display-2">
        Recupera tu contraseña
    </p>
    <form class="row" [formGroup]="resetForm" (ngSubmit)="reset()">

        <!-- Email -->
        <div class="col-12 mb-3">
            <label class="form-label" for="email">
                Correo
            </label>
            <input class="form-control" type="email" placeholder="Introduzca su correo"
                formControlName="email"
                [ngClass]="{ 'is-invalid': fm['email'].invalid && (fm['email'].dirty || fm['email'].touched) }">
            <!-- Errors validators -->
            <div class="invalid-feedback"
                *ngIf="fm['email'].invalid">
                    <ng-container *ngIf="fm['email'].errors?.['required']">
                            Introduzca un correo para ingresar
                    </ng-container>
                    <ng-container *ngIf="fm['email'].errors?.['pattern']">
                            Introduzca una dirección de correo valida
                    </ng-container>
            </div>
        </div>

        <!-- LogIn -->
        <div class="d-flex justify-content-end">

            <p class="form-text">
                <a class="text-decoration-none" [routerLink]="['/app/reset']">Iniciar sesión</a>
            </p>
    
        </div>

        <!-- logIn -->
        <button class="btn btn-success mb-3"
            type="submit"
            [disabled]="!resetForm.valid">
                Recuperar contraseña
        </button>

    </form>
</div>